<html>
  <head>
    <% if title %><title><%= title %></title><% end %>
    <link rel="stylesheet" type="text/css" href="/static/base.css">
  </head>
  <body>
    <% if title %><h1><%= title %></h1></title><% end %>
    <% blocks.each do |(block,content)| %>
    <div id="<%= block %>">
      <pre>
      <%= content %>
      </pre>
    </div>
    <% end %>
  </body>
</html>
